
.nav.navbar-nav a{
    text-align: center;
}
@media (min-width: 1085px) {
    .side-nav>ul>li>a {
        -webkit-transition: 0.1s;
        transition: 0.1s;
    }
    .side-nav>ul>li>a:hover, .side-nav>ul>li>a:focus, .side-nav>ul>li>a.active {
        border-right: 2px solid lightseagreen;
        opacity: 0.75;
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    .side-nav>ul>li>a:hover>span, .side-nav>ul>li>a:focus>span, .side-nav>ul>li>a.active>span {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .side-nav>ul>li>a>span {
        display: block;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        -webkit-transition: 0.1s;
        transition: 0.1s;
    }
    .side-nav:hover>ul>li>a>span, .side-nav:focus>ul>li>a>span {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .side-nav:hover>ul>li img, .side-nav:focus>ul>li svg {
        -webkit-transition: stroke 0.1s;
        transition: stroke 0.1s;
    }
}