<div class="card-view">
    <div class="card-panel">
        <div class="card-side-left">
            <h4 class="card-title">Jono Trip</h4>
        </div>
        <div class="card-side-right">
            <span class="fa fa-money card-money"><label class="fa-left">15.000</label></span>
        </div>
    </div>
    <div class="card-panel">
        <div class="card-side-left">
            <h6 class="card-name">
                Jono, Antony
                <span class="fa fa-user-o card-money"><label class="fa-left">5</label></span>
            </h6>
        </div>
    </div>
    <div class="card-panel">
        <div class="card-side-left">
            <span class="fa fa-calendar-o panel-calendar"><label class="fa-left">15 Aug 2017</label></span>
        </div>
        <div class="card-side-right">
            <a href="#">see details</a>
        </div>
    </div>
</div>