.card-panel{
    display: flex;
    align-items: center;
}
.card-side-left{
    flex-grow: 3;
}
.card-side-right{
    flex-grow: 1;
}
.card-title{
    font-weight: bold;
    color: #8d8d8d;
}
.card-name{
    color: #D2D2D2;
}
.card-view{
    margin: 10px;
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 10px;

    &.active {
        border: 2px solid lightseagreen;
    }
}
.fa-left{
    margin-left: 5px;
}
.panel-calendar, .card-money{
    margin-top: 10px;
}
.card-money{
    color: #83c157;
}
.add-bill{
    padding: 5px 10px;
    background-color: transparent;
    color: #18bc9c;
    border: 1px solid #18bc9c;
    margin: 10px auto;
    width: 50%;
}

.add-bill:hover{
    background-color: #18bc9c;
    color: white;
}
