<div class="card-view" *ngIf="!isShow()">
    <i class="fa fa-smile-o"></i> Please click "see details" to view
</div>

<section id="cd-timeline" *ngIf="isShow()">
    <div class="cd-timeline-block" *ngFor="let bill of tripDetails.bills">
        <div class="cd-timeline-img">
            <img src="/favicon.ico">
        </div>

        <div class="cd-timeline-content">
            <h4 class="timeline-name">{{bill.billName}}</h4>
            <div *ngFor="let billParticipant of tripDetails.participants">
                <h5>{{billParticipant.name}} owe {{bill.paidBy}} <span class="owe">{{billParticipant.price}}</span></h5>
            </div>
        </div>
    </div>
</section>
