<div class="scrollable">
    <div class="person" *ngFor="let participant of participants">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <span class="name">
            <strong>{{ participant.name }}</strong>
        </span>
        <span class="amount" *ngIf="type === splitBillType.EQUAL">
            {{ currency }} {{ participant.price }}
        </span>
        <div class="input-group" *ngIf="type === splitBillType.AMOUNT">
            <span class="input-group-addon">{{ currency }}</span>
            <input type="text" class="form-control" placeholder="0.00"
            [(ngModel)]="participant.price">
        </div>
    </div>
</div>
