<div class="scrollable">
    <div class="person" *ngFor="let participant of participants">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <span class="name">
            <strong>{{ participant.name }}</strong>
        </span>
        <span class="amount" *ngIf="type === splitBillType.EQUAL">
            {{ currency }} {{ participant.price }}
        </span>
        <div class="input-group" *ngIf="type === splitBillType.AMOUNT"
            [ngClass]="{'has-success': participant.price && participant.price > 0,
            'has-error': !participant.price || participant.price <= 0}">
            <span class="input-group-addon">{{ currency }}</span>
            <input type="number"min="1" class="form-control"
                placeholder="0.00"
                [(ngModel)]="participant.price"
                (ngModelChange)="validatePrice(participant.price)"
            />
        </div>
    </div>
</div>
