<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      Add a Bill
    </div>
    <form novalidate (ngSubmit)="handleSubmit(paybillForm)" #paybillForm="ngForm">
      <div class="modal-body text-center">
        <div class="modal-body__body">
          <div class="main-fields">
            <img src="../../../../public/images/general.png" class="category">
            <input type="text" name="billName"
                required
                class="description" placeholder="Description"
                [ngClass]="{'has-success': data.billName,
                'has-error': !data.billName && submitted}"
                [(ngModel)]="data.billName"/>
            <div class="input-group" [ngClass]="{'has-success': data.total,
                'has-error': !data.total && submitted}">
              <span class="input-group-addon">$</span>
              <input type="number" min="1" name="total" [(ngModel)]="data.total"
                class="form-control" placeholder="0.00">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Paid By</span>
              <select class="form-control" name="paid" id="paid"
                [(ngModel)]="data.paidBy">
                <option *ngFor="let participant of tripDetail.participants"
                    [ngValue]="participant.name">
                    {{ participant.name }}
                </option>
              </select>
            </div>
          </div>
          <br/>
          <tabset #billTabs>
            <tab heading="Split Equally" (select)="selectTab($event)">
              <app-split-bill [type]="selectedTab"
                [total]="data.total"
                [(participants)]="tripDetail.participants"></app-split-bill>
            </tab>
            <tab heading="Split By Amounts" (select)="selectTab($event)">
              <app-split-bill [type]="selectedTab"
                [total]="data.total"
                [(participants)]="tripDetail.participants"
                (isValid)="isValid($event)"></app-split-bill>
            </tab>
          </tabset>
        </div>
      </div>
      <div class="modal-footer__button">
        <button type="button" class="btn btn-default" (click)="closeModal(false)">
        {{ modalData.btnCancel }}
      </button>
        <button type="submit" class="btn btn-primary">
        {{ modalData.btnSave }}
      </button>
      </div>
    </form>
  </div>
</div>
