a {
    text-decoration: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

@media(max-width: 768px) {
    .login {
        button {
            width: 100%;
        }
    }
}

.fa {
    color: lightseagreen;
}

.login {
    button {
        margin-left: 10px;
    }
}

.navbar {
    margin-bottom: 0;

    &-nav .dropdown-menu a:hover {
        background-color: #EEEEEE;
    }
    &-nav li a {
        color: lightseagreen;
        background-color: white;
        &:hover {
            background-color: white;
            color: color(lightseagreen blackness(40%));
        }
        &:focus {
            background-color: white;
        }
    }
    &-toggle {
        border: none;
        background-color: lightseagreen !important;
        &:focus {
            background-color: color(lightseagreen blackness(40%)) !important;
        }
    }
    &-default {
        background-color: white;
    }
    &-collapse {
        @media(max-width: 768px) {
            border-top: 1px solid #EEEEEE;
        }
    }
    &-tripfund {
        padding: 10px;
        border-radius: 0;
        border-bottom: 1px solid #DDDDDD;
    }
    &-logo {
        display: flex;
        align-items: center;

        > span {
            color: lightseagreen;
            margin-left: 10px;
        }
    }
}
