<nav class="navbar navbar-default navbar-tripfund">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-logo" [routerLink]="['/']">
                <img [src]="favicon" width="52" height="52">
                <span>tripfund</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav navbar-right" *ngIf="loading">
                <i class="fa fa-spin fa-spinner fa-lg navbar-text"></i>
            </div>
            <ul class="nav navbar-nav navbar-right login" *ngIf="!loading && !user">
                <li dropdown [autoClose]="false" [isOpen]="isOpen" class="hidden-xs">
                    <button dropdownToggle (click)="isOpen = true" type="button" class="btn btn-sm btn-default navbar-btn dropdown-toggle">
                        Login
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li>
                            <app-navbar-login (onClick)="isOpen = false"></app-navbar-login>
                        </li>
                    </ul>
                </li>
                <li class="visible-xs">
                    <button [routerLink]="['/signin']" class="btn btn-sm btn-default navbar-btn">Login</button>
                </li>
                <li *ngIf="!user">
                    <button [routerLink]="['/register']" class="btn btn-sm btn-default navbar-btn">Sign up</button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!loading && user">
                <li>
                    <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome. {{user.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="changePassword()">Change password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
