menu, ol, ul {
    margin: 0;
    list-style: none;
}
menu, ol, ul {
    padding: 0;
}
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.page-nav{
    flex: 0 0 70px;
}
.navbar-collapse{
    padding: 0;
    display: flex !important;
}
.page-wrap{
    flex-grow: 3;
    background-color: #F0F0F0;
    box-shadow: 3px 3px 3px #E9E9E9 inset;
}
.card-wrap{
    display: flex;
}
.side-left{
    flex: 300px;
    flex-shrink: 0;
    padding: 10px;
    padding-bottom: 50px;
    height: 90vh;
    overflow: auto;
}

.side-right{
    flex-grow: 5;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 50px;
}
/* end card view */
