<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <app-sidebar (afterAddTrip)="appCard.handleRefresh()" class="page-nav"></app-sidebar>
    <div class="page-wrap">
        <div class="card-wrap">
            <div class="side-left">
                <app-card #appCard (select)="handleCardSelect($event)">Loading...</app-card>
            </div>
            <div class="side-right">
                <app-card-detail [tripDetails]="tripDetails"
                    [currency]="currency"
                    [tripId]="tripId"></app-card-detail>
            </div>
        </div>
    </div>
</div>
<app-modal></app-modal>
